/* Îáùèå ñòèëè */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #4CAF50;
    color: white;
    padding: 3rem 0;
}

header .logo {
    float: left;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('photo_2024-08-18_22-22-19.jpg') no-repeat center center/cover;
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
    padding: 400px 0;
}

.hero h2 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 20px;
}

.hero .btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.services {
    padding: 50px 0;
    text-align: center;
}

.services h2 {
    margin-bottom: 30px;
    font-size: 36px;
}

.services .service {
    margin-bottom: 20px;
}

.testimonials {
    background: #f25a5a;
    padding: 50px 0;
}

.testimonials h2 {
    text-align: center;
    margin-bottom: 30px;
}

.testimonials .testimonial {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background: #f25a5a;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 5px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    margin-bottom: 10px;
}

